{
  "env": {
    "server-dev": {
      "presets": [
        "react",
        ["env", {
          "targets": { "node": 7 },
          "modules": false
        }]
      ]
    }
  },
  plugins: [
    "transform-do-expressions",
    "transform-class-properties"
  ]
}
